<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- Simple title; email reset notice page does not require styling assets -->
  <title>Check your email</title>
</head>

<body>
  <h1>Check your email</h1>


  <p>
    If an account exists with that email address, we have sent a password reset link.
  </p>


  <p>
    Please click the link in the email to choose a new password.
  </p>


  <p>
    <a href="{{ url_for('auth_routes.login_get') }}">Back to login</a>
  </p>
</body>
</html>
